@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */


/* Add these styles to ensure a full-page layout */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}